<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>Mobile</title>
</head>

<body>
  <p>Добавить десерт</p>
  <form method="post" class="create">
    <p>Название</p>
    <input type="text" name="name">
    <p>Цена</p>
    <input type="text" name="cost">
    <p>Ингредиенты</p>
    <input type="text" name="ingredient">
    <button type="submit">Submit</button>
  </form>
</body>

</html>
