<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>Mobile</title>
</head>

<body>
  <p>Добавить вечер</p>
  <form method="post" class="create">
    <p>Номер</p>
    <input type="text" name="number">
    <p>Название</p>
    <input type="text" name="name">
    <p>Дата</p>
    <input type="text" name="date">
    <p>Описание</p>
    <input type="text" name="description">
    <button type="submit">Submit</button>
  </form>
</body>

</html>
